<template>
  <div class="q-pa-md">
    <q-form class="row" @submit="submitClicked" @reset="onReset">
      <q-input
        class="col q-pa-md"
        filled
        v-model="nameFilter"
        hint="NFL player name to filter by"
        label="Player name"
      >
      </q-input>
      <q-input
        class="col q-pa-md"
        filled
        v-model="orderByColumns"
        label="Order by columns"
        hint="Columns to order by"
        :rules="[
          (val) =>
            this.isValidOrderByColumns(val) ||
            'Only comma separated \'Player\', \'Team\', \'Pos\', \'Att\', \'Att/G\', \'Yds\', \'Yds/G\', \'Avg\', \'TD\', \'Lng\', \'LngTD\', \'1st\', \'1st%\', \'20+\', \'40+\' or \'FUM\' values are allowed',
        ]"
      ></q-input>
      <q-input
        class="col q-pa-md"
        filled
        v-model="orderByDirections"
        label="Order by columns directions"
        hint="Either descending or ascending"
        :rules="[
          (val) =>
            this.isValidOrderByDirections(val) ||
            'Only comma separated \'asc\' or \'desc\' values are allowed',
        ]"
      ></q-input>
      <div class="row q-pa">
        <q-btn
          class="q-ma-md"
          label="Search"
          type="submit"
          color="primary"
        ></q-btn>
        <q-btn
          class="q-ma-md"
          label="reset"
          type="reset"
          color="primary"
          flat
        ></q-btn>
      </div>
    </q-form>
  </div>
  <div>
    <q-table
      class="col q-ma-lg"
      title="Rushing stats"
      :rows="rows"
      :columns="columns"
      :loading="loading"
      v-model:pagination="pagination"
      row-key="id"
      @request="onRequest"
      binary-state-sort
    >
      <template v-slot:top>
        <strong class="col"> Rushing Stats</strong>
        <q-btn class="q-ma-sm" icon="download" @click="csvDownloadClicked"
          >CSV</q-btn
        >
      </template>
    </q-table>
  </div>
</template>

<script>
import { api } from "boot/axios"

export default {
  name: "PageIndex",
  data: () => {
    return {
      columnsMapped: new Map([
        ["Player", "name"],
        ["Team", "nfl_team"],
        ["Pos", "pos"],
        ["Att", "att"],
        ["Att/G", "att_g"],
        ["Yds", "yds"],
        ["Yds/G", "yds_g"],
        ["Avg", "avg"],
        ["TD", "td"],
        ["Lng", "lng"],
        ["LngTD", "lng_td"],
        ["1st", "first_downs"],
        ["1st%", "first_down_percentage"],
        ["20+", "twenty_plus_downs"],
        ["40+", "forty_plus_downs"],
        ["FUM", "fum"],
      ]),
      loading: false,
      rows: [],
      filtered_rows: [],
      pagination: { rowsPerPage: 10 },
      columns: [
        {
          name: "name",
          required: true,
          label: "Player",
          align: "left",
          field: (row) => row.player.name,
          format: (val) => `${val}`,
        },
        {
          name: "nfl_team",
          align: "left",
          label: "Team",
          field: (row) => row.player.nfl_team,
        },
        {
          name: "pos",
          align: "left",
          label: "Pos",
          field: (row) => row.player.pos,
        },
        {
          name: "att",
          align: "left",
          label: "Att",
          field: (row) => row.att,
        },
        {
          name: "att_g",
          align: "left",
          label: "Att/G",
          field: (row) => row.att_g,
        },
        {
          name: "yds",
          align: "left",
          label: "Yds",
          field: (row) => row.yds,
        },
        {
          name: "avg",
          align: "left",
          label: "Avg",
          field: (row) => row.avg,
        },
        {
          name: "yds_g",
          align: "left",
          label: "Yds/G",
          field: (row) => row.yds_g,
        },
        {
          name: "td",
          align: "left",
          label: "TD",
          field: (row) => row.td,
        },
        {
          name: "lng",
          align: "left",
          label: "Lng",
          field: (row) => row.lng,
        },
        {
          name: "lng_td",
          align: "left",
          label: "LngTD",
          field: (row) => row.lng_td,
        },
        {
          name: "first_downs",
          align: "left",
          label: "1st",
          field: (row) => row.first_downs,
        },
        {
          name: "first_down_percentage",
          align: "left",
          label: "1st%",
          field: (row) => row.first_down_percentage,
        },
        {
          name: "twenty_plus_downs",
          align: "left",
          label: "20+",
          field: (row) => row.twenty_plus_downs,
        },
        {
          name: "forty_plus_downs",
          align: "left",
          label: "40+",
          field: (row) => row.forty_plus_downs,
        },
        {
          name: "fum",
          align: "left",
          label: "FUM",
          field: (row) => row.fum,
        },
      ],
      nameFilter: null,
      orderByColumns: "TD,Lng",
      orderByDirections: "desc,desc",
    }
  },
  mounted() {
    this.search(
      1,
      this.pagination.rowsPerPage,
      { name: this.nameFilter },
      { columns: this.orderByColumns, directions: this.orderByDirections }
    )
  },
  methods: {
    getHeaders() {
      return {
        headers: {
          Accept: "application/json",
        },
      }
    },
    sleep(ms) {
      return new Promise((resolve) => setTimeout(resolve, ms))
    },
    isValidOrderByColumns(expr) {
      if (expr === null || expr === undefined) {
        return true
      }
      return expr
        .split(",")
        .map((x) => this.columnsMapped.has(x))
        .reduce((x, y) => x && y)
    },
    isValidOrderByDirections(expr) {
      if (expr === null || expr === undefined) {
        return true
      }
      const allowedValues = new Set(["asc", "desc"])
      return expr
        .split(",")
        .map((x) => x.toLowerCase())
        .map((x) => allowedValues.has(x))
        .reduce((x, y) => x && y)
    },
    buildSearchParams(
      page,
      perPage,
      filters = { name: null },
      orderBy = { columns: null, orderByDirections: null },
      asCSV = false
    ) {
      let params = [`page=${page}`, `per_page=${perPage}`]

      if (
        filters !== null &&
        filters.hasOwnProperty("name") &&
        filters.name !== null &&
        filters.name !== ""
      ) {
        params.push(`name=${filters.name}`)
      }

      if (
        orderBy !== null &&
        orderBy.hasOwnProperty("columns") &&
        orderBy.columns !== null &&
        orderBy.columns !== ""
      ) {
        const columns = orderBy.columns
          .split(",")
          .map((x) => this.columnsMapped.get(x))
        params.push(`order_by_columns=${columns.join(",")}`)
      }

      if (
        orderBy !== null &&
        orderBy.hasOwnProperty("directions") &&
        orderBy.directions !== null &&
        orderBy.directions !== ""
      ) {
        params.push(`order_by_directions=${orderBy.directions}`)
      }

      if (asCSV === true) {
        params.push(`as_csv=true`)
      }

      return "stats/player/rushing?" + params.join("&")
    },
    async onRequest(requestProp) {
      this.search(
        requestProp.pagination.page,
        requestProp.pagination.rowsPerPage === 0
          ? requestProp.pagination.rowsNumber
          : requestProp.pagination.rowsPerPage,
        { name: this.nameFilter },
        { columns: this.orderByColumns, directions: this.orderByDirections }
      )
    },
    csvDownloadClicked() {
      this.search(
        1,
        this.pagination.rowsPerPage,
        { name: this.nameFilter },
        { columns: this.orderByColumns, directions: this.orderByDirections },
        true
      )
    },
    submitClicked() {
      this.search(
        1,
        this.pagination.rowsPerPage,
        { name: this.nameFilter },
        { columns: this.orderByColumns, directions: this.orderByDirections }
      )
    },
    async search(
      page,
      perPage,
      filters = { name: null },
      orderBy = { columns: null, directions: null },
      asCSV = false
    ) {
      const maxRetries = 3
      this.loading = true

      for (let retry = 0; retry < maxRetries; retry++) {
        const url = this.buildSearchParams(
          page,
          perPage,
          filters,
          orderBy,
          asCSV
        )
        try {
          const res = await api.get(url, this.getHeaders())
          const items = res.data.data
          const curPageRows = Math.min(items.length, res.data.pagination.total)

          if (asCSV) {
            this.loading = false
            const anchor = document.createElement("a")
            anchor.href =
              "data:text/csv;charset=utf-8," + encodeURIComponent(res.data.data)
            anchor.target = "_blank"
            anchor.download = "rushing_stats.csv"
            anchor.click()
            return
          }

          this.rows = []
          items.forEach((x) => this.rows.push(x))

          this.pagination.page = page
          this.pagination.rowsPerPage = Math.max(curPageRows, 10)
          this.pagination.rowsNumber = res.data.pagination.total

          this.loading = false
          return
        } catch (err) {
          console.log(`err ${JSON.stringify(err)}`)
          if (
            retry == maxRetries - 1 ||
            (err.response !== undefined && err.response.status < 500)
          ) {
            let error_msg = "Failed to search: "
            if (err.response === undefined) {
              error_msg += " Network Failure"
            } else {
              error_msg += JSON.stringify(err.response.data)
            }
            this.$q.notify({
              color: "red-5",
              textColor: "white",
              message: error_msg,
              position: "center",
            })
            this.loading = false
            return
          }
          await this.sleep(1000)
        }
      }
    },
    onReset() {
      this.nameFilter = null
      this.orderByColumns = null
      this.orderByDirections = null
      this.search(
        1,
        10,
        { name: this.nameFilter },
        { columns: this.orderByColumns, directions: this.orderByDirections }
      )
    },
  },
}
</script>
